################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MSI
/.vs/ProjectEvaluation
/obj
